*{
	margin: 0;
	padding: 0;
	
}



.home{
	background: url(../images/galaxy.jpeg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

}

.home h1{
	color: white;
	text-shadow: 1px 1px black;
	font-family: Helvetica;
	font-size: 50px;
	padding-bottom: 15px;
}

.btn{
	background-color: orange;
	color: white;
	border-style: none;
	padding: 10px 30px;
	border-radius: 20px;
	font-family: Helvetica;
	font-size: 15px;


}

.btn:hover{
	background-color: red;
	transition: .5s;
	box-shadow: 2px 5px black;
}

.about{
	height: 100vh;
	background-color: salmon;
	display: flex;

}

.left{
	background-color: pink;
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;

}

.left h1{
	font-size: 20px;
	padding-bottom: 0;
	width: 300px;
	text-transform: bolder;
	text-align: center;

}
.left p{

}
.right{
	background-color: red;
	height: 100vh;
	width: 50vw;
}